<?xml version="1.0"?>
<!--
/**
 * ReportMapper - Sales and Marketing Reporting Tool for Magento 1x
 * @category ReportMapper
 * @package	ReportMapper_SalesReportMaps
 * @version	1.0.0
 * @created	10th January 2018 3.00pm
 * @author		Paul Watt <support@reportmapper.com>
 * @purpose	ReportMapper block
 * @copyright	Copyright (c) 2018 ReportMapper.com
 * @license	http://opensource.org/licenses/osl-3.0.php  Open Software License
 */
-->
<config>
	<modules>
	  <ReportMapper_SalesReportMaps>
	    <version>1.0.0</version>
	  </ReportMapper_SalesReportMaps>
	</modules>
	<global>
        <blocks>
            <reportmapper_salesreportmaps>
                <class>ReportMapper_SalesReportMaps_Block</class>
            </reportmapper_salesreportmaps>
        </blocks>
        <helpers>
            <reportmapper_salesreportmaps>
                <class>ReportMapper_SalesReportMaps_Helper</class>
            </reportmapper_salesreportmaps>
        </helpers>
        
 		<resources>
            <reportmapper_salesreportmaps_setup>
                <setup>
                    <module>ReportMapper_SalesReportMaps</module>
                </setup>
		        <connection>
		            <use>core_setup</use>
		        </connection>
            </reportmapper_salesreportmaps_setup>
			<reportmapper_salesreportmaps_write>
			        <connection>
			            <use>core_write</use>
			        </connection>
			</reportmapper_salesreportmaps_write>
			<reportmapper_salesreportmaps_read>
			    <connection>
			        <use>core_read</use>
			    </connection>
			</reportmapper_salesreportmaps_read>
        </resources>
        <models>
            <reportmapper_salesreportmaps>
                <class>ReportMapper_SalesReportMaps_Model</class>
            </reportmapper_salesreportmaps>
        </models>
	</global>
    <admin>
        <routers>
            <adminhtml>
            <use>admin</use>
                <args>
                    <modules>
                        <reportmapper_salesreportmaps before="Mage_Adminhtml">ReportMapper_SalesReportMaps_Adminhtml</reportmapper_salesreportmaps>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
        <adminhtml>
        <layout>
            <updates>
                <reportmapper_salesreportmaps>
                    <file>reportmapper/salesreportmaps/salesreportmaps.xml</file>
                </reportmapper_salesreportmaps>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <user_data>
                                            <title>ReportMapper SalesMapper Config</title>
                                        </user_data>
                                    </children>
                                </config>
                            </children>
                        </system>
						<reportmapper translate="title" module="reportmapper_salesreportmaps">
					        <title>ReportMapper</title>
					        <sort_order>110</sort_order>
					        <children>
						      <reportmapper-maps translate="title" module="reportmapper_salesreportmaps">
						        <title>United Kingdom</title>
						        <sort_order>10</sort_order>
						        <children>
									<salesreportmaps_mapper translate="title" module="reportmapper_salesreportmaps">
									<title>Postcode Areas</title>
									<action>adminhtml/index/mapper</action>
									<sort_order>20</sort_order>           
									</salesreportmaps_mapper>
								</children>
						      </reportmapper-maps>
							</children>
					     </reportmapper>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <controller_action_predispatch>
                <observers>
                    <reportmapper_getupdate>
                        <type>singleton</type>
                        <class>ReportMapper_SalesReportMaps_Model_Observer</class>
                        <method>controllerActionPredispatch</method>
                    </reportmapper_getupdate>
                </observers>
            </controller_action_predispatch>
        </events>
    </adminhtml>
    <default>
        <system>
            <reportmapper_salesreportmaps>
                <feed_url>www.reportmapper.com/updates.rss</feed_url>
            </reportmapper_salesreportmaps>
        </system>
    </default>
</config> 